<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% load bootstrap_icons %}
<link rel="stylesheet" href="{% static '/main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light HeaderBanner w-100">
            <div class="container-fluid">
                <h2 class="brand-name">DATAVERSE</h2>                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'career' %}">DATA CAREERS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'governance' %}">DATA GOVERNANCE</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'glossary'%}">GLOSSARY</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>
    

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-brand mt-5">
                    <h3 class="footer-title">DATAVERSE</h3>
                    <p class="footer-text fw-bold fst-italic">Discover &bull; Explore &bull; Analyse</p>
                </div>
    
                <div class="col-md-4 footer-links">
                    <h4 class="footer-subtitle fw-bold">Quick Links</h4>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'governance' %}">Data Governance</a></li>
                        <li><a href="{% url 'career' %}">Data Careers</a></li>
                        <li><a href="{% url 'glossary'%}">Glossary</a></li>

                    </ul>
                </div>
    
                <div class="col-md-4 footer-social">
                    <h4 class="footer-subtitle fw-bold">Follow Us</h4>
                    <div class="social-icons mt-4">
                        <a href="https://www.linkedin.com/company/yourbrand" target="_blank">
                            <i>{% bs_icon 'linkedin' color='#5562EA' size='1.5em'%}</i>                        
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="footer-bottom">
                <p>&copy; 2025 DATAVERSE. All rights reserved.</p>
            </div>
        </div>
    </footer>