{% extends 'dataverse/base.html' %}
{% load static %}



{% block content %}

<section>
  <div class="container-fluid intro-container d-flex align-items-center justify-content-center intro-section">
    <div class="row w-100">
      <div class="col-12 text-center intro-section-title">
        <h1 class="intro-section-title-text">DATAVERSE</h1>
        <h4 class="intro-section-title-subtitle">Connecting People through Data</h4>
      </div>
    </div>
  </div>
</section>

<section class="articles-section">
    <h2 class="articles-title display-4">Insights</h2>

    
    

    <ul class="articles-list">
        {% for article in page_obj %}
            {% if not article.is_featured %}
                <li class="article-item">
                    <div class="article-meta">
                        Published: {{ article.published_date }}
                    </div>
                    <div class="article-title">
                        <a href="{% url 'article_detail' article.slug %}">
                            {{ article.title }}
                        </a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock content %}