{% extends "dataverse/base.html" %}

{% block content %}

<section class="articles-section">
    <h2 class="articles-title display-4">The Data Mindset</h2>
    <ul class="articles-list">
        {% for article in page_obj %}
            {% if article.is_featured %}
        <li class="article-item">
            <div class="article-meta">Published: {{ article.published_date }} </div>
            <div class="article-title"><a href="{% url 'article_detail' article.slug %}">{{ article.title }} <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#efbf04"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></a></div>
            <span class="article-category">{{ article.category }}</span>
            <span class="article-category insight-status">{{ article.insight }}</span>

        </li>
        {% else %}
        <li class="article-item">
            <div class="article-meta">Published: {{ article.published_date }} </div>
            <div class="article-title"><a href="{% url 'article_detail' article.slug %}">{{ article.title }} </a></div>
            <span class="article-category">{{ article.category }}</span>
            <span class="article-category insight-status">{{ article.insight }}</span>

        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock %}