{% extends "dataverse/base.html" %}

{% block content %}



<section class="about-content py-5">
    <div class="container">
        <h2 class="about-title">{{ dr.title }}</h2>
        <div class="article-meta">
            <span class="article-category fst-italic">{{ dr.category_role }}</span>
        </div>
            <ul class="about-text fw-bold">
                {% for item in dr.main_task %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <p class="about-text mt-2">{{ dr.description }}</p>

    </div>
    <div class="text-center">
        <a href="#" class="btn btn-about">Learn More</a>
    </div>
</section>




{% endblock %}

